body {
    background-color: #7b7cac;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cat {
    margin: 10px;
    height: 450px;
    border-radius: 15px;
}

#change-cat {
    width: 120px;
    height: 40px;
    background-color: #07083b;
    color: #fff;
    font-weight: bold;
}

#change-cat:hover {
    background-color: #02031f;
    color: #ffff00;
    cursor: pointer;
}