* {
    margin: 0;
}

.cabecalho, .rodape {
    background-color: #1e3803;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
}

.principal {
    width: 100vw;
    height: 80vh;
}

.dino {
    background-color: #000000;
    width: 60px;
    height: 60px;
    color: #008000;
    position: absolute;
    bottom: 68px;
}

.cactus {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 68px;
    background-color: #ff0000;
}

#game-over {
    width: 40vw;
    height: 30vh;
    border: 2px solid #008000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 45px;
    color: #ff0000;
    border-radius: 25%;
}

.painel-game-over {
    display: flex;
    justify-content: center;
    align-items: center;
}
